# Ignorar ejecutables
*.exe

# Ignorar archivos temporales de compilación
*.out
*.obj
*.o

# Ignorar archivos de depuración
*.log

# Ignorar configuraciones locales de VSCode
.vscode/

# Ignorar archivos temporales de Code Runner
tempCodeRunnerFile.*

# Ignorar archivos de sistema
.DS_Store
Thumbs.db
